/* General Styles */
body { 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
    background-image: url('../Pictures/Chalkboard.jpg'); 
    color: white; 
}

.header { 
    text-align: center; 
    color: white;
    font-family: 'Times New Roman', Times, serif; 
}

.footer {
    position: fixed;
    left: 0; 
    bottom: 0;
    width: 100%; 
    color: white;
    text-align: center; 
    font-family: 'Times New Roman', Times, serif; 
}

button {
    display: block;
    width: 100%;
    margin: 10px 0;
}

/* Responsive Layout */
@media (max-width: 768px) {
    button {
        font-size: 14px;
    }
}
